{% extends 'base.html' %}

{% block title %}Criar Post{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2>Criar Novo Post</h2>
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="mb-3">
        {{ form.titulo.label(class="form-label") }}
        {{ form.titulo(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.descricao.label(class="form-label") }}
        {{ form.descricao(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.imagem.label(class="form-label") }}
        {{ form.imagem(class="form-control") }}
      </div>

      {{ form.btn_criar_post(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}
