{% extends 'base.html' %}

{% block title %}
Detalhes do Post
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ post.titulo }}</h1>
        
        <img src="{{ url_for('static', filename='images/{}'.format(post.imagem)) }}" alt="Imagem do Post" class="img-fluid" width="200px">
        <p>{{ post.conteudo }}</p>
        <p class="card-text"><small class="text-muted">Postado por {{ post.autor.username }}</small></p>
        {% if post.autor == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a>
                <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}" style="display: inline;">
                    {{ delete_form.hidden_tag() }}
                    <button type="submit" class="btn btn-danger btn-sm mt-1 mb-1">Delete</button>
                </form>
            </div>
        {% endif %}
        <a href="{{ url_for('homepage') }}" class="btn btn-primary">Voltar</a>
    </div>
{% endblock %}
