{% extends 'base.html' %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
  <div class="row">
      {% for post in posts %}
      <div class="col-md-4">
          <div class="card mb-4">
            
              <img src="{{ url_for('static', filename='images/{}'.format(post.imagem)) }}" class="card-img-top" alt="{{ post.titulo }}">
              <div class="card-body">
                  <h5 class="card-title">{{ post.titulo }}</h5>
                  <p class="card-text">{{ post.conteudo[:100] }}...</p>
                  <p class="card-text"><small class="text-muted">Postado por {{ post.autor.username }}</small></p>
                  <a href="{{ url_for('detalhes_post', post_id=post.id) }}" class="btn btn-primary">Leia mais</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
