{% extends 'base.html' %}
{% import 'macro_field.html' as macros %}
{% block title %}
    Criar Conta
{% endblock %}

{% block content %}
    


    <hr>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mt-4">Criar Conta</h1>
                <form method="POST" action="">
                    {{ form.csrf_token }}

                    <!--O macro recebe cada campo do meu formulario-->
                    {{ macros.field(form.username) }}
                    {{ macros.field(form.email) }}
                    {{ macros.field(form.senha) }}
                    {{ macros.field(form.confirmar_senha) }}

                    {{ form.btn_criar_conta(class="btn btn-warning") }}

                    <p class="mb-5 mt-2">
                        Ja tem uma conta?
                        <a href="{{ url_for('login') }}" class="text-warning">Faca Login
                        </a>
                    </p>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
